.row
  .col-sm-12
    = form_for(@category, :html => {class: "form-horizontal", role: "form"}) do |f|
      .form-group
        .control-label.col-sm-2
          = f.label :Category
        .col-sm-8
          = f.text_field :title, class: "form-control", placeholder: "Category name", autofocus: true
      .form-group
        .col-sm-offset-2.col-sm-10
          = f.submit(@category.new_record? ? "add" : "update", class: "btn btn-primary btn-sm")