%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Market", products_path, class: "navbar-brand", id: "logo"
      / <a class="navbar-brand" id="logo" href="/">Alpha-blog</a>
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li 
          = link_to "Categories", categories_path
        %li
          = link_to "Sellers", sellers_path

           